.login-card {

    width: 380px;

    background: white;

    padding: 40px;

    border-radius: 12px;

    display: flex;
    flex-direction: column;

    gap: 20px;

    box-shadow: 0 8px 25px rgba(0,0,0,.08);
}

.logo {
    width: 120px;
    align-self: center;
}

.titulo {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.esqueci {
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}
